#nav{
    font-size: 1.8vw;
    padding: 1%;
    width: 100%;
    border: .5vw solid rgb(139, 63, 184);
    background-color: rgb(213, 163, 241);
    table-layout: fixed;
}

body{ 
    background-color: rgb(234, 204, 252);
    font-family: Raleway;
    text-align: center;
    font-size: 2vw;
}

  
#halfCircle{ 
    border: 4vw solid  rgb(139, 63, 184);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom: 0;
}

input, textarea{
    width: 25vw;
}

h1 {
    color:  rgb(139, 63, 184);
    margin: 0;
    text-align: center;
    font-size: 8vw;
    font-family: Allura;
    padding: 2%;
}

.navLogo {
    width: 8vw;
}

.flowers {
    width: 27vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}
.form label {
    border-bottom: .4vw solid  rgb(179, 126, 209);
    border-top: .4vw solid rgb(179, 126, 209);
}

.form label, .form input {
    margin-bottom: 5%;
    display: block;
}


.form {
    margin: auto;
    border: 1.2vw solid  rgb(139, 63, 184);
    border-radius: 2%;
}

#nav td {
    border-left: .5vw solid  rgb(179, 126, 209);
    border-right: .5vw solid rgb(179, 126, 209);
}

input, select, textarea {
    background-color: rgb(179, 126, 209);
    color: rgb(255, 255, 255)
}

a:link, a:visited {
    color: #301c2d;
    text-decoration: none;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    margin-top: 5%;
    padding: 1%;
    background-color: rgb(179, 126, 209);
    clear: left;
}