table{
    font-size: 150%;
    padding: 1%;
    width: 100%;
    border: 5px solid rgb(67, 160, 98);
    background-color: rgb(206, 248, 220);
    table-layout: fixed;
}

body{ 
    background-color: rgb(206, 248, 220);
    font-family: Raleway;
    text-align: center;
}

h1 {
    color: rgb(90, 33, 85);
    margin: 0;
    text-align: center;
    font-size: 60pt;
    font-family: Allura;
}

.navLogo {
    width: 100px;
}