body {
    margin: 6% 10%;
    border-radius: 35px;
    padding: 2%;
    padding-bottom: 8%;
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

html {
    background: linear-gradient(124deg, #76DEFF, #B8EEFF, #DFB3FF, #FF76D0, #FFCDB8);   
    /* background: linear-gradient(124deg, #ffcab9, #fe77d1, #e2aefb, #baeaff, #8ae2ff); */
}

.card {
    margin: 10px;
    background: linear-gradient(270deg, #76DEFF, #B8EEFF, #DFB3FF, #FF76D0, #FFCDB8);  
    padding: 5px;
    border: none;
    width: 400px;
}

.card-body {
    background-color: white;
}

a {
    color: darkgrey;
    text-decoration: none;
}

.icon {
    width: 40px;
}

img, h2 {
    margin: 25px;
}

h4 {
    margin-top: 50px;
}

td {
    width: 50% ;
    padding: 2%;
    border-bottom: 3px double #DFB3FF;
    border-top: 3px double #DFB3FF;
}

table {
    width: 60%;
    margin: 4%;
}

form {
    width: 45%;
    margin: 10px;
    padding: 15px;
}

#logo {
    width: 188px;
}

hr {
    width: 50%;
    margin: auto;
}

video {
    width: 85%;
}