
h1{
    line-height: 25px;
    text-transform: uppercase;
}

header {
    line-height: 10px;
    text-align: center;
    color: #222222;
}

.name {
    font-size: 250%;
    font-weight: 500;
    padding: 2%;
}

.top {
    background-color: #444444;
}

div {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
}

p {
    line-height: 28px;
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: 300;
    font-size: larger;
}

.school {
    padding-left: 0px;
}

.resume {
    margin: auto;
    max-width: 800px;
    border: #444444;
    border-style: solid;
    border-width: clamp(30px, 80px, 400px);
    padding: 5%;
}

.contact {
    color: #111111;
    line-height: 10px;
    padding: 6.5%;
    text-transform: capitalize;
    font-weight: 800;
}

.about {
    color: #444444;
    padding-top: 2%;
    padding-left: 27%;
    padding-right: 27%;    
}

body {
    background-color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #444444;
}

h2 {
    font-weight: 500;
    color: #eeeeee;
}

footer {
    margin-top: 100px;
    padding: 40px;
    background-color: #444444;
    text-align: center;
}


img {
    height: 250px;
    align-content: center;
    border-radius: 50%;
}

.icon {
    width: 5%;
    height: 5%;
    min-width: 40px;
    min-height: 40px;
    display: inline;
    padding-left: 6%;
    padding-right: 6%;
}

.center {
    margin: 0;
    text-align: center;
}

li {
    line-height: 25px;
}

ul, ol {
    padding-left: 5%;
    padding-right: 5%;
}

.Subject {
    color: #333333;
}

.When {
    text-align: right;
}

hr{
    border-color: #000000;
    border-style: solid;
}

a:link, a:visited {
    color: #333333;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}



a.ref:link, a.ref:visited {
    color: #eeeeee;
    text-decoration: none;
  }

a.ref:hover {
    color: #222222;
}

a.ref:active {
    color: #777777;
}