html {
    background-color: #C2E0E8;
}

body {
    padding: 2%;
    margin: 4% 20%;
    text-align: center;
    border: 70px solid #4292AD;
    color: #DCBBAA;
    background-color: #E6EFF4;
    font-family: Marker Felt, fantasy;
}

table {
    margin: auto;  
}

button {
    width: 60px;
    height: 60px;
    font-size: 30pt;
    font-family: Bradley Hand, cursive;
    color: #84BCCD;
}

#replay {
    padding: 1%;
    width: auto;
    height: auto;
    font-size: 15pt;
    font-family: Marker Felt, fantasy;
    color:#DCBBAA;
}

h1 {
    font-size: 40pt;
}

h3 {
    font-size: 25pt;
    text-decoration: underline;
}

th {
    font-size: 30pt;
    color: #84BCCD;
}

#X, #O {
    font-size: 25px;
    color: #84BCCD;
}

td, th {
    padding: 10px;
}

th {
    border-bottom: 8px solid #C2E0E8;
}
#X {
    border-right: 2px solid#C2E0E8;
}
#O {
    border-left: 2px solid#C2E0E8;
}