table{
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
    padding: 1%;
    width: 100%;
    border: .5vw solid rgb(70, 202, 173);
    background-color: rgb(140, 250, 226);
    table-layout: fixed;
} 
body{ 
    background-color: rgb(182, 255, 239);
    font-family: Raleway;
    text-align: center;
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}

h1 {
    color:  rgb(70, 202, 173);
    margin: 0;
    text-align: center;
    font-size: 7vw;
    font-family: Allura;
    padding: 2%;
}

.navLogo {
    width: 8vw;
}

.flowers {
    width: 27vw;
}

td {
    border-left: .5vw solid rgb(82, 247, 211);
    border-right: .5vw solid rgb(82, 247, 211);
}

a:link, a:visited {
    color: #301c2d;
    text-decoration: none;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    padding: 1%;
    background-color:  rgb(70, 202, 173);
    clear: left;
}

#apps {
    font-size: 2vw;
}

h4 {
    color:  rgb(70, 202, 173);
}

#vids {
    font-size: 1.5vw;
}