body {
  padding: 1% 0% 4% 0%;
  margin: 3% 11%;
  border: 50px solid #ff9a8d;
  text-align: center;
  background-color: #aed6dc;
}

html {
  background-color: #4a536b;
}

h1 {
  font-family: Arizonia;
  font-size: 300%;
}

table {
  font-family: Dosis;
  table-layout: fixed;
  width: 80%;
  margin: auto;
  border: 2px solid #4a536b;
  font-size: 14pt;
  caption-side: bottom;
}

td, th {
  padding: 2%;
  border-top: 1px solid #ff9a8d;
  border-bottom: 1px solid #ff9a8d;
}

th {
  font-size: larger;
  letter-spacing: 2px;
  background-color: #4a536b;
  color: white;
  font-family: Arizonia;
}

caption {
  margin: 2% 0% 0% 0%;
}

a:link, a:visited {
    color: #4a536b;
    text-decoration: none;
  }

a:hover {
    color: #ff9a8d;
}

a:active {
    color: #999999;
}
