

html {
  height: 100%;
  background-image: linear-gradient(lightblue, darkblue);
}

h3, h1{
  color: white;
  text-shadow: 0 0 1px blue, 0 0 2px black;
}

img {
  float:left;
}

body {
  margin-top: 3%;
  margin-left: 28%;
  text-align: center;
  float: left;
  border: 25px solid white;
}
