#nav{
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
    padding: 1%;
    width: 100%;
    border: .5vw solid rgb(139, 63, 184);
    background-color: rgb(213, 163, 241);
    table-layout: fixed;
}

body{ 
    background-color: rgb(234, 204, 252);
    font-family: Raleway;
    text-align: center;
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
}

  
#halfCircle{ 
    border: 4vw solid  rgb(139, 63, 184);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom: 0;
}

select, button, input[type=submit], input[type=reset], input[type=button]{
    cursor: pointer;
}

input, textarea{
    width: 30vw;
}

h1 {
    color:  rgb(139, 63, 184);
    margin: 0;
    text-align: center;
    font-size: 7vw;
    font-family: Allura;
    padding: 2%;
}

h2 {
    color:  rgb(139, 63, 184);
}

.navLogo {
    width: 8vw;
}

.flowers {
    width: 27vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}
.form label {
    border-bottom: .4vw solid  rgb(179, 126, 209);
    border-top: .4vw solid rgb(179, 126, 209);
}

.form td {
    padding-top: 3%;
}

.form label, .form input {
    margin-bottom: 5%;
    display: block;
    
}


.form {
    margin: auto;
    border: 1.2vw solid  rgb(139, 63, 184);
    border-radius: 2%;
    table-layout: fixed;
}

#nav td {
    border-left: .5vw solid  rgb(179, 126, 209);
    border-right: .5vw solid rgb(179, 126, 209);
}

input, select, textarea {
    background-color: rgb(190, 139, 219);
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
    border-bottom: .4vw solid  rgb(179, 126, 209);
    border-top: .4vw solid rgb(179, 126, 209);
    margin-top: 2.8%;
}

nav a:link, nav a:visited {
    color: #301c2d;
    text-decoration: none;
}

a:link, a:visited {
    color: #301c2d;
}

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    margin-top: 5%;
    padding: 1%;
    background-color: rgb(179, 126, 209);
    clear: left;
}
::placeholder{
    color: white;
}


input[type=submit]:hover, input[type=reset]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=submit], input[type=reset] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:20%;
}