img {
  position: absolute;
}

#back {
  top: 10vw;
  left: 36vw;
  padding-top: 1%;
}

body {
  text-align: center;
  background-image: linear-gradient(to top right, #ff9a9e, #f5efef);
}

html {
  height: 100%;
}
