
table {
  width: 60%;
  margin: auto;
  color: silver;
  background-color: #5d6780;
  font-size: 18pt;
  table-layout: fixed;
}

td {
  padding: 2%;
}

input, input[type=button], input[type=reset] {
  color: black;
  background-color: #cccccc;
  margin: auto;
  display: block;
  font-size: 14pt;
}

h1 {
  text-align: center;
  margin: 3%;
  font-size: 40pt;
  font-family: cursive;
  color: #5d6780;
}
