table{ 
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
    padding: 1%;
    width: 100%;
    border: .5vw solid rgb(80, 175, 112);
    background-color: rgb(176, 250, 201);
    table-layout: fixed;
} 

body{ 
    background-color: rgb(201, 253, 219);
    font-family: Raleway;
    text-align: center;
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
}
 
h1 {
    color:  rgb(80, 175, 112);
    margin: 0;
    text-align: center;
    font-size: 7vw;
    font-family: Allura;
    padding: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}

.flowers {
    width: 27vw;
}
 
.navLogo {
    width: 8vw;
}

td {
    border-left: .5vw solid rgb(120, 241, 162);
    border-right: .5vw solid rgb(120, 241, 162);
}

a:link {
    color: #301c2d;
}

nav a:link, nav a:visited {
    color: #301c2d;
    text-decoration: none;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    padding: 1%;
    background-color: rgb(120, 241, 162);
    clear: left;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(even) {
    background-color: #d4ffe6;
  }