table{ 
    font-size: 1.8vw;
    padding: 1%;
    width: 100%;
    border: .5vw solid rgb(255, 178, 107);
    background-color:  rgb(250, 216, 185);
    table-layout: fixed;
}
body{ 
    background-color: rgb(255, 223, 206);
    font-family: Raleway;
    text-align: center;
    font-size: 2vw;
}
  
h1 { 
    color:  rgb(255, 178, 107);
    margin: 0;
    text-align: center;
    font-size: 8vw;
    font-family: Allura;
    padding: 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}

button {
    width: 22vw;
    font-size: 1.6vw;
    font-family: Raleway;
    margin-bottom: 2vw;
    padding: 1vw;
    border-radius: 8px;
    border: 1px double rgb(250, 216, 185);
    background-color: rgb(255, 178, 107);
    color: rgb(253, 235, 219);
}

.flowers {
    width: 27vw;
}

.navLogo {
    width: 8vw;
}

td {
    border-left: .5vw solid  rgb(250, 201, 155);
    border-right: .5vw solid rgb(250, 201, 155);
}

a:link, a:visited {
    color: #301c2d;
    text-decoration: none;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    padding: 1%;
    background-color:  rgb(250, 201, 155);
    clear: left;
}