
body{ 
    background-color: #fadacc;
    font-family: Raleway;
    text-align: center;
} 

table{
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
    padding: 1%;
    width: 100%;
    margin-top: clamp(1.4%, 2.1%, 2.4%);
    border: .5vw solid rgb(252, 137, 156);
    background-color: rgba(255, 182, 193, 0.445);
    table-layout: fixed;
} 
   
h1 {
    color:  rgb(252, 137, 156);
    margin: 0;
    text-align: center;
    font-size: 7vw;
    font-family: Allura;
}

h3 {
    font-size: 5vw;
    font-family: Allura;
    margin: 1%;
    color:  rgb(252, 137, 156);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 5%;
}

.bottom {
    padding: 7%;
}

article {
    float: left;
    width: 25%;
    margin-bottom: 4%;
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
}

.us {
    padding: 5%;
    width: 12vw;
    border-radius: 50%;
}

.navLogo {
    width: 8vw;
}

.flowers {
    width: 27vw;
}

.cause {
    font-size: clamp(1.1vw, 1.5vw, 1.9vw);
    line-height: 200%;
}

td {
    border-left: .5vw solid rgb(255, 175, 188);
    border-right: .5vw solid rgb(255, 175, 188);
}

a:link, a:visited {
    color: #301c2d;
    text-decoration: none;
  }

a:hover {
    color: #777777;
}

a:active {
    color: #999999;
}

footer {
    font-size: 1vw;
    padding: 1%;
    background-color: rgb(255, 175, 188);
    clear: left;
}

.login{
    margin-top: 1%;
    position:absolute;
    left: 90%; 
}

button, input[type=submit], input[type=reset], input[type=button]{
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    display: inline-block;
    margin: 2%;
    font-size: clamp(1.1vw, 1.3vw, 1.7vw);
    width: clamp(25%, 35%, 50%);
  }

  .card h3 {
      font-size: clamp(1.8vw, 4vw, 5vw);
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  #name {
    font-size: 1.3vw;
  }

